body.home.index {
  min-height: 100vh;
  background: url(image_path("public/bg.png")) no-repeat center bottom;
  background-size: 100% auto;
}

#home-index-container {
  padding: 50px 0;
  @include background_retina_detection('public/macbook', 'png', no-repeat right 70px, 739px 524px);

  @media #{$medium-and-down} {
    background: none;
  }

  h1 {
    font-size: calc(1em + 3vmin);
  }

  h3 {
    font-size: calc(0.9em + 1vmin); 
  }

  .card {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #424242;

    .card-image {
      overflow: hidden;

      img {
        transition: all .2s ease-in-out; 
      }
    }

    &:hover {
      color: #304FFE;

      img {
        transform: scale(1.1);
      }
    }
  }
}