body.home.index {
  min-height: 100vh;
}

#home-index-container {
  #banner {
    background: url(image_path("public/bg.png")) no-repeat center bottom;
    background-size: 100% auto;

    > div {
      @include background_retina_detection('public/macbook', 'png', no-repeat right 70px, 739px 524px);  
      padding: 100px 0;
    }

    .container {
      height: 400px;
      padding-right: 500px;
    }
  }

  @media #{$medium-and-down} {
    #banner { 
      > div {
        background: none;
      }

      .container {
        height: 200px;
        padding-right: 0;
      }
    }
  }

  

  h1 {
    font-size: calc(1em + 3vmin);
  }

  h3 {
    font-size: calc(0.9em + 1vmin);
  }

  .image {
    margin: 10px 0;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12), 0px 4px 4px 0px rgba(0,0,0,0.24);
    padding: 5px;

    img {
      width: 100%;
      transition: all .2s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  #main {
    max-width: 970px;
    margin: 80px auto;

    h2 {
      margin-top: 50px;
      font-size: calc(0.5em + 2vmin);
      font-weight: bold;
    }

    p {
      font-weight: 300;
      font-size: 16px;
      color: #757575;
      line-height: 24px;
    }

    .row {
      margin-top: 40px;
    }
  }
}