.orders-details-container {
  ul.list-inline {
    margin-top: 0;
    line-height: 15px;

    li:last-child {
      padding-right: 0;
    }

    a {
      font-size: 15px;
      padding-left: 3px;
      padding-right: 3px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      border-right: 1px solid #bdbdbd;
    }

    li:last-child {
      border-right: none;
    }

    &.attachment {
      li:first-child {
        border-right: none;
      }
    }
  }

  table.table-striped {
    border: none;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    max-width: none;

    tr td {
      border-top: none;
      color: #5e5e5e;

      a {
        color: #5e5e5e;
      }


      &:first-child {
        padding-left: 15px;
      }

      &:last-child {
        padding-right: 15px;
      }
    }
  }

  .btn-group {
    .btn {
      font-size: 12px;
    }
  }

  .link2inventory {
    color: #9E9E9E;
  }
}