.orders-form-container {
  tr.fields {
    td {
      line-height: 33px;
    }
  }

  .order_items_quantity, .order_items_unit_price {
    input {
      margin: 0 auto;
      padding-left: 22px;
      text-align: center;
    }
  }

  .order_items_quantity {
    input {
      width: 100px;
    }
  }
}