body {
  font-family: "Roboto", sans-serif;
}

@media #{$large-and-up} {
  .container {
    width: 1170px;
    max-width: 100%;
  }
}

h1, h2, h3 {
  font-weight: 300;
}

h1, h2 {
  font-size: 40px;
  color: $primary_color;
}

h3 {
  font-size: 22px;
  color: #424242;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.help-block {
  color: red;
}