.global-food_items-clone_form-container
  = simple_form_for form, url: do_clone_global_food_item_path(params[:id]), method: :post do |f|
    = kitchen_dropdown(f, action: :import)
    = f.button :submit, 'Clone', class: 'btn btn-primary btn-block', data: { :disable_with => "Submitting..." }