.public-retailers-banner-container
  h1 Restaurant Inventory Management
  h3 Online Purchasing ⋄ Menu Costing ⋄ Inventory Management Software ⋄ Real-Time Analytics
  = link_to 'TRY NOW', '#', class: 'btn'