#pdf-layouts-main-container {
  #head {
    height: 80px;

    #logo {
      float: left;
      padding-right: 20px;
    }

    #restaurant {
      h1 {
        margin: 0;
        padding: 0;
        font-size: 20px;
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
      }
    }
  }

  #footer {
    text-align: center;

    h3#logo-footer {
      margin: 0 0 20px 0;
      text-align: center;
      img {
        width: 150px;
      }
    }
  }
}
