.graphs-graph-container {
  .google-visualization-controls-categoryfilter-selected.goog-inline-block {
    display: block;
    height: 230px;
    overflow-y: scroll;
  }

  #cost-graph {
    > div {
      overflow-x: scroll;
      overflow-y: hidden;
      width: 100%;
      height: 300px;
    }
  }
}