.shared-menu-container {
  .avatar {
    position: relative;

    a#alert-count {
      position: absolute;
      z-index: 2;
      top: 0;
      right: -9px;
      display: inline-block;
      border-radius: 50%;
      background: red;
      color: #fff;
      text-align: center;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      text-decoration: none;
      padding: 0;
    }
  }

  img {
    margin: 0 0 0 15px;
    height: 50px;
  }

  @media all and (min-width: 900px) {
    .container-fluid {
      padding-left: 0;
    }
  }

  .navbar-default .navbar-form {
    border: none;
  }

  @media all and (min-width: 1350px) {
    .navbar-left {
      width: 800px;
    }
  }
}