.shared-menu-container {
  img {
    margin: 0 0 0 15px;
    height: 50px;
  }

  @media all and (min-width: 900px) {
    .container-fluid {
      padding-left: 0;
    }
  }

  .navbar-default .navbar-form {
    border: none;
  }

  @media all and (min-width: 1350px) {
    .navbar-left {
      width: 800px;
    }
  }
}