.shared-sidebar-container {
  padding: 20px 0;

  hr {
    margin: 5px 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    position: relative;
    padding: 0 15px 0 60px;
    display: block;
    line-height: 46px;
    font-size: 16px;
    color: #757575;
    white-space: nowrap;

    &.active, &:hover {
      font-weight: 500;
      color: #424242;
      background: rgba(232,234,246,0.50);

      i {
        color: #304FFE;
      }
    }

    i {
      position: absolute;
      top: 0px;
      left: 10px;
      text-align: center;
      display: inline-block;
      width: 40px;
      font-style: normal;
      transition: all 0.5s;

      &:before {
        cursor: pointer;
        @extend .mdi;
        font-size: 22px;
        line-height: inherit;
      }
    }

    &.sb-dashboard i:before {
      @extend .mdi-home;
    }

    &.sb-restaurants i:before {
      @extend .mdi-home; 
    }

    &.sb-restaurant i:before {
      @extend .mdi-information;  
    }

    &.sb-version i:before {
      @extend .mdi-history;
    }

    &.sb-user i:before {
      @extend .mdi-account-multiple;
    }

    &.sb-supplier i:before {
      @extend .mdi-store;
    }

    &.sb-food_item i:before {
      @extend .mdi-food;
    }

    &.sb-kitchen i:before {
      @extend .mdi-silverware-variant;
    }

    &.sb-inventory i:before {
      @extend .mdi-folder-outline;
    }

    &.sb-pending_pos i:before {
      @extend .mdi-calendar-text;
    } 

    &.sb-create_new_request i:before {
      @extend .mdi-cart-outline;
    } 

    &.sb-archived_pos i:before {
      @extend .mdi-calendar-check;
    } 

    &.sb-user_role i:before {
      @extend .mdi-account-multiple;
    }

    &.sb-role i:before {
      @extend .mdi-security;
    }
  }
}

body.sidebar-collapsed .shared-sidebar-container a i {
  left: 5px;
}