.shared-summary-container {
  .item {
    .content {
      padding: 20px;
      margin: 20px 0;
      height: 120px;
      background: #00BFA5;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);
      border-radius: 2px;
      color: #FFFFFF;
      position: relative;

      small {
        font-size: 24px;
        line-height: 24px;
        margin: 0;
      }

      p.count {
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
      }

      p.description {
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
      }

      i {
        position: absolute;
        bottom: 4px;
        right: 20px;
        font-size: 70px;
        line-height: 90px;
        margin: 0;
        padding: 0;
      }
    }

    &.item-restaurants .content {
      background: #ce1a39;

      i {
        @extend .mdi-home;
      }
    }

    &.item-kitchens .content {
      background: #b429e8;

      i {
        @extend .mdi-silverware-variant;
      }
    }

    &.item-users .content {
      background: #7b982c;

      i {
        @extend .mdi-account-multiple;
      }
    }

    &.item-suppliers .content {
      background: #F0BE23;

      i {
        @extend .mdi-store;
      }
    }

    &.item-food_items .content {
      background: #43BFC1;

      i {
        @extend .mdi-food;
      }
    }

    &.item-shipped_pos .content {
      background: #F48691;

      i {
        @extend .mdi-calendar-text;
      }
    }

    &.item-pending_pos .content {
      background: #029FA7;

      i {
        @extend .mdi-calendar-text;
      }
    }
  }
}