.shared-summary-container {
  .item {
    .content {
      padding: 20px;
      margin: 20px 0;
      height: 120px;
      background: #00BFA5;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);
      border-radius: 2px;
      color: #FFFFFF;
      position: relative;

      small {
        font-size: 24px;
        line-height: 24px;
        margin: 0;
      }

      p.count {
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
      }

      p.description {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
      }

      i {
        position: absolute;
        bottom: 10px;
        right: 20px;
        font-size: 90px;
        line-height: 90px;
        margin: 0;
        padding: 0;
        color: rgba(255,255,255,0.30);
      }
    }

    &.item-restaurants .content {
      background: #ce1a39;

      i {
        @extend .mdi-home;
        color: rgba(255,255,255,0.30);
      }
    }

    &.item-kitchens .content {
      background: #b429e8;

      i {
        @extend .mdi-silverware-variant;
        color: rgba(255,255,255,0.30);
      }
    }

    &.item-users .content {
      background: #7b982c;

      i {
        @extend .mdi-account-multiple;
        color: rgba(255,255,255,0.30);
      }
    }

    &.item-suppliers .content {
      background: #00BFA5;

      i {
        @extend .mdi-store;
        color: rgba(255,255,255,0.30);
      }
    }

    &.item-food_items .content {
      background: #FBC02D;

      i {
        @extend .mdi-food;
      }
    }

    &.item-shipped_pos .content {
      background: #2979FF;
      
      i {
        @extend .mdi-calendar-text;
      }
    }

    &.item-pending_pos .content {
      background: #FF5252;
      
      i {
        @extend .mdi-calendar-text;
      }
    }
  }
}