#layouts-main-container {
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  main {
    position: absolute;
    left: $sidebar_expanded_width;
    right: 0;
    padding: 15px;
    transition: left 1s;
    min-width: 600px;
  }

  &.sidebar-collapsed main {
    left: $sidebar_collapsed_width;  
  }
}