#sidebar {
  top: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  left: 0;
  width: $sidebar_expanded_width;
  z-index: 5;
  transition: width 0.5s;
  background: #E6E7E8;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 0 2px 0 rgba(0,0,0,0.24);

  .logo {
    padding: 8px 0;
    display: block;
    text-align: center;

    img {
      width: 131px;
    }
  }
}

body.sidebar-collapsed #sidebar {
  width: $sidebar_collapsed_width;
}