body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.mailers-theme-container {
  > div {
    width: 800px;
    margin: 0 auto;
    border-radius: 2px;
    border: 1px solid #dedede;
    line-height: 150%;
    color: #424242;
  }

  p {
    margin: 5px 0;
  }

  strong {
    font-weight: normal;
    color: #000;
  }

  .line {
    height: 1px;
    width: 100%;
    background: #d2d2d2;
    margin: 28px 0;
  }
  
  #main {
    padding: 20px;
  }

  #receiver-name {
    text-transform: capitalize;
  }

  h1 {
    border-bottom: 1px solid #E0E0E0;
    background: #F5F5F5;
    color: #757575;
    font-size: 36px;
    margin: 0;
    padding: 28px 24px;
    display: block;
    font-family: Arial;
    font-size: 30px;
    line-height: 35px;
    font-weight: normal;
    text-align: center;
  }

  h2 {
    font-size: 18px;
    color: #424242;
    line-height: 24px;
    font-weight: normal;
  }

  .text-center {
    text-align: center;
  }

  h3#logo-footer {
    text-align: center;
    margin-top: 30px;

    > div {
      font-size: 30px;
      line-height: 30px;
      color: #0277BD;
      text-transform: uppercase;
      margin: 0 0 20px 0;
      padding: 10px 50px 10px 65px;
      display: inline-block;
      background: url(image_path("logo.png")) no-repeat left center;
    }
  }

  .clearfix {
    clear: both;
  }

  #replying-to {
    text-align: center;
    margin: 20px 0;
  }
}
