#pdf-orders-show-container
  h1 Purchase Order

  = render partial: 'orders/info', locals: { supplier: @supplier, kitchen: @kitchen, restaurant: @restaurant, order: @order, items: @items }, formats: :html