#categories-index-container {
  h4 {
    padding: 3px 10px;
    border-left: 4px solid #027ae0;
  }

  a.item-tag {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dedede;
    cursor: pointer;
    color: #393838;
    text-decoration: none;

    &:hover {
      background-color: #efecec;
    }
  }

  .sidebar-outer {
    position: relative;
  }

  ul.list-inline {
    margin: 0 -10px;

    li {
      padding: 0 10px;
      border-right: 1px solid #5e5e5e;

      &:last-child {
        border-right: none;
      }
    }

    a {
      color: #5e5e5e;

      &.active, &:hover {
        color: $primary_color;
        font-weight: bold;
      }
    }
  }

  @media(min-width: $screen-md-min){
    #cart-details {
      position: fixed;
      padding-right: 15px;
    }
  }
}