#restaurants-show-container {
  h2 {
    margin-top: 5px;
    font-size: 24px;
  }

  .block {
    table {
      tr {
        th {
          padding-left: 20px !important;
        }
      }
    }
  }
}