#restaurants-show-container {
  h2 {
    margin-top: 5px;
    font-size: 24px;
  }

  .block {
    table {
      tr {
        th {
          padding-left: 20px !important;
        }
      }
    }
  }

  #kitchen_filter_keyword {
    width: 300px;
    padding: 5px 10px;
  }

  #kitchens {
    td {
      vertical-align: middle;
    }
  }
}