table.text-center th {
  text-align: center;

  &.text-left {
    text-align: left;
  }
}

table {
  a.current {
    display: inline-block;
    padding-right: 25px;
    position: relative;

    &:before {
      font-family: "FontAwesome";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -12px;
    }

    &.asc:before {
      content: "\f078";
    }

    &.desc:before {
      content: "\f077";
    }
  }

  &.table-bordered {
    > tbody > tr > th, > tbody > tr > td {
      vertical-align: middle;
    }

    label.control-label {
      font-weight: normal;
    }
  }

  &.table-striped {
    border: 1px solid #ddd;

    > thead > tr > th {
      border-bottom: none;
      background: #ECEFF1;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: normal;
    }
  }
}

.table > tbody + tbody {
  border: none;
}