// MENU
$menu_height: 60px;
$grid-float-breakpoint: 900px;
// MENU


// SIDEBAR
$sidebar_width: 250px;
$sidebar_collapsed_left: -205px;
// SIDEBAR

// MAIN
$main_padding: $sidebar_width + $sidebar_collapsed_left;
// MAIN

// COLOR
$red_color: #f34336;
$green_color: #7bbc3e;
// COLOR