// MENU
$grid-float-breakpoint: 960px;
// MENU


// SIDEBAR
$sidebar_expanded_width: 250px;
$sidebar_collapsed_width: 50px;
// SIDEBAR

// COLOR
$red_color: #f34336;
$green_color: #7bbc3e;

$placed_color: #FBC02D;
$accepted_color: #304FFE;
$declined_color: #757575;
$cancelled_color: #FF5252;
$delivered_color: #00BFA5;
// COLOR

// FONTS
$mdi-font-path:        "mdi/fonts/";
// FONTS