// MENU
$grid-float-breakpoint: 960px;
// MENU


// SIDEBAR
$sidebar_expanded_width: 250px;
$sidebar_collapsed_width: 50px;
// SIDEBAR

// COLOR
$red_color: #f34336;
$green_color: #7bbc3e;
// COLOR

// FONTS
$mdi-font-path:        "mdi/fonts/";
// FONTS