.search-container {
  form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    width: calc(100% + 10px);

    > .form-group, > input[type=submit], > a.btn { 
      margin: 0 5px 10px 5px;
    }

    > .form-group {
      flex-grow: 6;
      min-width: 150px;

      input[type=text] {
        width: 100%;
      }

      &.order_filter_month {
        flex-grow: 2;
      }
    }

    > input[type=submit], > a.btn {
      height: 34px;
      flex-grow: 2;
    }
  }
}