img {
  max-width: 100%;
}

pre {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

/* ACTIONS */
ul.actions {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    padding: 0 10px;
  }
}
/* ACTIONS */

/* CONFIRMATION */
a[data-toggle=confirmation] {
  cursor: pointer;
}
/* CONFIRMATION */

/* BUTTON */
.btn-red {
  color: #fff;
  background-color: $red_color;
}

.btn-green {
  color: #fff;
  background-color: $green_color;
}
/* BUTTON */

/* TABLE */
table.text-center th {
  text-align: center;

  &.text-left {
    text-align: left;
  }
}

table {
  a.current {
    display: inline-block;
    padding-right: 25px;
    position: relative;

    &:before {
      font-family: "FontAwesome";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -12px;
    }

    &.asc:before {
      content: "\f078";  
    }

    &.desc:before {
      content: "\f077";  
    }
  }
}
/* TABLE */

/* ALIGNMENT */
.vertical-align {
  display: flex;
  align-items: center;

  h1 {
    margin: 10px 0;
  }
}
/* ALIGNMENT */

/* MODAL */
.modal {
  .modal-dialog {
    max-width: 100%;
  }
}
/* MODAL */

/* FORM */
input[type=number] {
  text-align: center;
}

.bootstrap-select.form-control:not([class*=span]):not([class*=col-]) {
  max-width: 1000px;
}
/* FORM */