ul.actions {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    padding: 0 10px;
  }
}

a[data-toggle=confirmation] {
  cursor: pointer;
}

.btn-red {
  color: #fff;
  background-color: $red_color;
}

.btn-green {
  color: #fff;
  background-color: $green_color;
}

table.text-center th {
  text-align: center;
}

.vertical-align {
  display: flex;
  align-items: center;

  h1 {
    margin: 10px 0;
  }
}