.carts-form-container {
  tr.cart-item {
    td {
      vertical-align: baseline;
    }
  }

  .quantity-input {
    margin: 0 auto;
    width: 70px;
    text-align: center;
    padding: 3px 0 3px 12px;
    height: 29px;
    display: inline-block;
  }

  .btn.mdi {
    padding: 4px 15px;
  }
}