title Food Hub
meta name="viewport" content="width=700, initial-scale=1"
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => :reload
= javascript_include_tag 'application', 'data-turbolinks-track' => :reload
= csrf_meta_tags