title XYMPLIFY
meta name="viewport" content="width=960, initial-scale=1"
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => :reload
= javascript_include_tag 'application', 'data-turbolinks-track' => :reload
= javascript_include_tag '//www.amcharts.com/lib/3/amcharts.js'
= javascript_include_tag '//www.amcharts.com/lib/3/serial.js'
= javascript_include_tag '//www.amcharts.com/lib/3/themes/light.js'
= csrf_meta_tags